.about {
    position: relative;
    text-align: center;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 25px;
}

.about__text {
    position: relative;
    max-width: 1150px;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 25px;
}

.about__buttons {
    margin: 0 auto;
    width: 530px;
    display: flex;
    gap: 30px;
}

.about__button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.about__paws {
    
    position: absolute;
    width: 1000px;
    height: 380px;
    z-index: 0;
    top: 170px;
    left: 100px;
    pointer-events: none;
}