.welcome {
    display: flex;
    gap: 65px;
    height: 500px;
}
.welcome__info {
    position: relative;
    width: 555px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.welcome__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
}

.welcome__text {
    font-size: 24px; 
    font-weight: 400;
}

.welcome__button {
    width: 360px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    background-color: #59A1FF;
}

.welcome__arrow {
    width: 35px;
    height: 35px;
    transition: 0.2s;
}

.welcome__button:hover .welcome__arrow {
    transform: translateX(10px);
}

.welcome__paw {
    position: absolute;
    width: 430px;
    height: 380px;
    transform: rotate(40deg);
    z-index: 0;
    left: -100px;
    top: -70px;
}
.welcome__gallery {
    position: relative;
}

.gallery__photo {
    position: absolute;
    width: 550px;
    height: 360px;
    pointer-events: none;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.gallery__photo.active {
    opacity: 1;
}

.gallery__balls {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 380px;
    left: 240px;
}

.ball {
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.ball:hover {
    background-color: #CDE3FF;
}

.ball-active {
    background-color: #59A1FF;
}

.welcome__advantages {
    padding-top: 20px;
}

.welcome__item {
    max-width: 100px;
}

.welcome__item--title {
    color: #59A1FF;
    font-size: 24px;
}

.welcome__item--text {
    font-weight: 600;
}

.welcome__advantages {
    display: flex;
    gap: 60px;
}